nav{
	font-size: 122%;
    font-style: initial;
    font-family: serif;
	text-align: right;
	margin-right:10px;
}

ul{
	list-style-type: none;
}
body{
	background-color: #5e1414/*9c7171*/;
	
}

.Began{
	margin-right: 436px;
	margin-left :-19px;
	padding-left: 45px;
	
}

.beganhead{
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
	font-size: .9em;
}

.aboutme{
	margin-right: 101px;
	margin-left :-22px;
	padding-left: 16px;
}
.where{
	
	background-color: #f4d3ca;
	margin-left:10px;
	margin-right: 10px;
	
	
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #f4d3ca/*ce9c9c*/;
  margin-left: 55px;
 
  
}

.box1 {
	margin-left: 34px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-left: -43px;
    margin-bottom: -34px;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  margin-right:55px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.righttext {
  position: relative;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  
}
.Hello {
	font-size: 3.5em;
}
.aboutme {
	/*margin-top: 3%;
	font-family: 'Open Sans', sans-serif;
	font-size:.9em;*/
	text-align: center;
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    
    font-size: 11px;
    text-transform: uppercase;
	
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 250px;
  text-align:center;
  border-radius: 12%;
}

.resumee{
	background-color: #f4d3ca;
	margin-left:10px;
	margin-right: 10px;
	
}

.education {
	margin-left:10px;
	margin-right: 10px;
	
}


.jjill {
	margin-left:10px;
	margin-right: 10px;
}

.tutor {
	margin-left:10px;
	margin-right: 10px;
}

.restitle{
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
	font-size: .9em;
	margin-left:10px;
	margin-right: 10px;
	
	
}

.tab{
	margin-left: 20px;
}

.iitlogo{
	height: 175px;
    width: auto;
    position: relative;
    margin-top: -258px;
    margin-bottom: 172px;
    margin-left: 875px;
}